@import url('https://fonts.googleapis.com/css2?family=Sora:wght@300;400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* GENEL AYARLAR */
html, body, #root {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  width: 100%;
  font-family: 'Sora', sans-serif; /* Fontu buraya ekledik */
  background-color: #050505; /* Varsayılanı koyu yaptık ki beyaz patlamasın */
  color: white;
}

/* Scrollbar Tasarımı */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: transparent; 
}
::-webkit-scrollbar-thumb {
  background: #333; 
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #ef4444; /* Mephisto Kırmızısı */
}
